<template>
    <div>
       
        <hero></hero>
         <product-list></product-list>
    </div>
</template>
<script>
import Hero from "./components/Hero";
import ProductList from "./components/ProductList.vue";

export default {
  name: "components",
  components: {
    Hero,
    ProductList,
  }
};
</script>
